.results_background {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    background-image: url('./../../assets/1m-background-white.png');
    background-size: 100%;
    z-index: -1;
}

.results_grid {
    margin: 10vh auto 10vh auto;
    width: 70vw;
}

@media only screen and (max-width: 700px) {
    .results_grid {
        margin: 5vh auto 5vh auto;
        width: 90vw;
    }
}
