.background {
    position: absolute;
    width: 100%;
    height: 200vh;
    background-image: url('./../../assets/background-image.jpg');
    background-size: cover;
    z-index: -1;
}

.results_grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 170px auto 40px auto;
    width: 97vw;
}