.results_background {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    background-image: url('./../../assets/background-image.jpg');
    background-size: 100%;
    z-index: -1;
}

.results_grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 170px auto 100px auto;
    width: 97vw;
}