.result_wrapper {
    width: 67vw;
    margin: auto;
    padding-bottom: 20px;
}

.result_flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listing_link_text {
    color: rgba(255, 255, 255, 0.87);
    font-weight: 400;
}

.listing_link_text:link, .listing_link_text:visited, .listing_link_text:hover, .listing_link_text:active {
    text-decoration: none;
}

.cover_photo {
    width: 67vw;
    margin-bottom: 15px;
}