.generations_wrapper {
    padding: 20px;
    border: 1px solid #EEEEEE;
    /* border-radius: 10px; */
    width: 220px;
}

.generation {
    color: #008AC9;
    text-transform: uppercase;
    font-size: 1.2rem;
}