.listing_wrapper {
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 400;
}

.photo {
    width: 100%;
    margin-bottom: 10px;
}