.search_background {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    background-image: url('./../../assets/1m-background-white.png');
    background-size: 100%;
    z-index: -1;
}

.search_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10vh auto auto auto;
}

.results_button_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px auto auto auto;
}

.results_button {
    color: #008AC9;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: 10px 25px;
    /* border-radius: 10px; */
    border: 1px solid #EEEEEE;
    text-align: center;
    margin-bottom: 10vh;
}

.results_link_text {
    color: #008AC9;
}

.results_link_text:link, .results_link_text:visited, .results_link_text:hover, .results_link_text:active {
    text-decoration: none;
}