.App {
  font-family: 'Roboto', sans-serif;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 400;
}

/* .logo {
  height: 90px;
  position: absolute;
  top: 40px;
  right: 50px;
} */

.hidden_home {
  height: 10vh;
  width: 10vh;
  position: absolute;
  top: 0px;
  right: 0px;
}